In [40]:
# Includes all the necessary libraries
from selenium_manager import *
from data_manger import *

In [32]:

def client_handle(url):
    # Create chrome web driver objects
    driver = webdriver.Chrome()
    """Get's the url and post 
    data the webdriver"""
    driver.get(url)
    # Clears the cookies pop-up
    driver.find_element(
        By.XPATH, '//button[text()="Accept All Cookies"]').click()
    return driver


def to_data_frame(data):
    return pd.DataFrame(data)

# Returns job roles


def get_roles(driver):
    titles = driver.find_elements(By.CLASS_NAME, "jcs-JobTitle[href]")
    roles = []
    for title in titles:
        roles.append(title.text)
    return roles

# Returns Companies names


def get_employers(driver):
    employers = driver.find_elements(By.CLASS_NAME, 'companyName')
    companies = []
    for company in employers:
        companies.append(company.text)
    return companies

# Returns job locations


def get_location(driver):
    job_locations = driver.find_elements(By.CLASS_NAME, 'companyLocation')
    locations = []
    for local in job_locations:
        locations.append(local.text)
    return locations

# Returns job links


def get_links(driver):
    web_links = driver.find_elements(By.CLASS_NAME, 'jcs-JobTitle[href]')
    links = []
    for link in web_links:
        links.append(link.get_attribute('href'))
    return links


# Returns salary info
def get_salary(driver):
    salary_info = driver.find_elements(
        By.CLASS_NAME, 'salary-snippet-container')
    salary = []
    for sal in salary_info:
        salary.append(sal.text)
    return salary


# Returns Job description
def get_description(driver):
    descriptions_info = driver.find_elements(By.CLASS_NAME, 'job-snippet')
    descriptions = []
    for description in descriptions_info:
        descriptions.append(description.text)
    return descriptions

In [33]:
# Web link of page
url = 'https://uk.indeed.com/jobs?q=data%20scientist&l=London%2C%20Greater%20London&vjk=31add7b7d6ac6ea0'

# pages = driver.find_element(By.XPATH, '//"button[data-testid="pagination-page-current"]').click()
driver = client_handle(url)

In [34]:
# Extracting data from functions
roles = get_roles(driver)
companies = get_employers(driver)
salary = get_salary(driver)
locations = get_location(driver)
links = get_links(driver)
descriptions = get_description(driver)

In [35]:
# Create multiple data Series
roles_series = pd.Series(roles)
companies_series = pd.Series(companies)
salary_series = pd.Series(salary)
location_series = pd.Series(locations)
links_series = pd.Series(links)
descriptions_series = pd.Series(descriptions)

In [36]:
# # Created dict for data Series


job_postings = {'Roles': roles_series,
                'Companies': companies_series,
                'Salary': salary_series,
                'Location': locations,
                'Descriptions': descriptions_series,
                'Links': links_series}
# Creates data frame
data = to_data_frame(job_postings)

In [37]:
data.head()

,Roles,Companies,Salary,Location,Descriptions,Links
0,Big Data Developer,Information Tech Consultants,"£25,000 - £30,000 a year",London EC2A,4-6 hours a day of applied data science classr...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,Data Scientist - Cricket,Pythia Sports,"£30,000 - £40,000 a year",London SW1V,"Have a deep understanding of the data, its lim...",https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,Data Analyst/Scientist,MIAC Analytics,"Up to £29,706 a year",Twickenham,The capability to extend their knowledge base ...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Head of AI,Metawin,"£65,000 - £85,000 a year",London,"Minimum 3 years of experience in AI, machine l...",https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Flood Risk Data Analyst Officer,Environment Agency,"Up to £37,462 a year",Hybrid remote in England,You will likely have a bachelor’s degree in da...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...

In [38]:
# # Creates a csv with the collected data
data.to_csv('today_list_1.csv', index=False)

In [39]:
# if __name__ == '__main__':
#     pass