In [1]:
# Includes all the necessary libraries
from libs import *

In [2]:
# Turns list of jobs into dataframe
def to_dataFrame(data):
    return pd.DataFrame(data)

In [3]:
#Web link of page
url = 'https://uk.indeed.com/jobs?q=data%20scientist&l=London%2C%20Greater%20London&vjk=31add7b7d6ac6ea0'
# Create chorme websdriver objects
driver = webdriver.Chrome()
# Get's the page url and post's to the webdriver
driver.get(url)
# clear the cookies pop-up
driver.find_element(By.XPATH, '//button[text()="Accept All Cookies"]').click()
#  // ===== //
# sleep(3)
# # driver.close()

In [4]:
'''
Scraping for job roles
'''

titles = driver.find_elements(By.CLASS_NAME,"jcs-JobTitle[href]")
roles = []
for title in titles:
     roles.append(title.text)


employers = driver.find_elements(By.CLASS_NAME,'companyName')
companies=[]
for company in employers:
     companies.append(company.text)

job_locations = driver.find_elements(By.CLASS_NAME,'companyLocation')
locations =[]
for local in job_locations:
    locations.append(local.text)
    
# Returns job links
web_links = driver.find_elements(By.CLASS_NAME,'jcs-JobTitle[href]')
links =[]
for link in web_links:
    links.append(link.get_attribute('href'))
    
# Add salary 
salary_info = driver.find_elements(By.CLASS_NAME, 'metadata salary-snippet-container')
salary = []
for sal  in salary_info:
     salary.append(sal.text)


descriptions_info = driver.find_elements(By.CLASS_NAME, 'job-snippet')
descriptions = []
for description in descriptions_info:
     descriptions.append( description.text)

In [5]:
# Create multiple data Series
roles_series = pd.Series(roles)
companies_series = pd.Series(companies)
location_series = pd.Series(locations)
links_series = pd.Series(links)
descriptions_series = pd.Series(descriptions)

In [6]:
# Created dict for data-frames
data = {'Roles':roles_series, 
        'Companies':companies_series,
        'Location':locations, 
        'Descriptions':descriptions_series, 
        'Links':links_series }
# Creates data frame
jobs = to_dataFrame(data)
print(jobs.shape)

(15, 5)

In [7]:
# Viewing top 5 results
jobs.head()

,Roles,Companies,Location,Descriptions,Links
0,Data Scientist - Cricket,Pythia Sports,London SW1V,"Have a deep understanding of the data, its lim...",https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,Big Data Developer,Information Tech Consultants,London EC2A,4-6 hours a day of applied data science classr...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,VP of Data Science and Experimentation,Trustpilot,London,Make analytical techniques approachable and un...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Data Analyst/Scientist,MIAC Analytics,Twickenham,The capability to extend their knowledge base ...,https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Head of AI,Metawin,London,"Minimum 3 years of experience in AI, machine l...",https://uk.indeed.com/pagead/clk?mo=r&ad=-6NYl...

In [8]:
# Creates a csv with the collected data
jobs.to_csv('today_list_1.csv', index= False)